<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lijunguan.imgselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".selectimage.SelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/album_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AlbumTheme" />

        <activity
            android:name=".cropimage.CropActivity"
            android:label="@string/crop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AlbumTheme" />

        <activity
            android:name=".previewimage.PreviewActivity"
            android:label="@string/priview_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/AlbumTheme.FullscreenTheme" />
    </application>

</manifest>